---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>An online archive of every email sent by FreeCodeCamp</h2>
</BaseLayout>
